@import "tailwindcss";

@theme {
  --font-toxia: var(--font-toxia);
  
  --animate-neon-pulse: neon-pulse 2s infinite alternate;
}

@keyframes neon-pulse {
  from {
    text-shadow: 0 0 8px rgba(239, 68, 68, 0.8), 0 0 20px rgba(220, 38, 38, 0.4);
  }
  to {
    text-shadow: 0 0 15px rgba(239, 68, 68, 1), 0 0 30px rgba(220, 38, 38, 0.8);
  }
}